<body>
  <div class ="wrapper">
  <div class="logo">
    <img src="BranchOut_logo.png" alt="logo">
</div>
</div>
  <div class="text-box">
    <div class="title">
      <h1>Branch Out Gardening </h1>
    </div>
     
    <div>
      <p>Filler Text Filler TextFiller TextFiller TextFiller TextFiller TextFiller TextFiller TextFiller TextFiller TextFiller TextFiller TextFiller TextFiller TextFiller TextFiller TextFiller TextFiller TextFiller TextFiller TextFiller TextFiller TextFiller TextFiller TextFiller TextFiller TextFiller TextFiller TextFiller TextFiller TextFiller TextFiller TextFiller Text
      </p>
      <p>
        Yackity Yack Yack Filler TextFiller TextFiller TextFiller TextFiller TextFiller TextFiller TextFiller TextFiller TextFiller TextFiller TextFiller TextFiller TextFiller TextFiller TextFiller TextFiller TextFiller TextFiller TextFiller TextFiller TextFiller TextFiller TextFiller TextFiller TextFiller TextFiller TextFiller TextFiller TextFiller TextFiller Text 
      </p>
    </div>
  </div>
</body>
